@font-face {
    font-family: 'VT323';
    src: url('../assets/fonts/VT323-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    color: lime;
    font-family: 'VT323';
    font-size: 24px;
    margin: 0;
    overflow: auto;
    text-shadow: 0 0 1px lime, 0 0 2px lime, 0 0 3px lime;
    background-image: url('../assets/images/background.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.top-div {
    background-color: rgba(128, 0, 128, 0.2);
    text-align: center;
    padding: 20px;
    margin: 10px;
    border: 3px dotted lime;
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.left-div, .right-div {
    background-color: rgba(0, 0, 139, 0.2);
    padding: 20px;
    width: 45%;
    border: 3px dashed yellow;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 8px;
}

.bottom-div {
    background-color: rgba(139, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    border: 3px double cyan;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    gap: 15px;
}

.h2-icon {
    height: 3em;
    width: auto;
    vertical-align: middle;
    margin-right: 8px;
}

.project {
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid Fuchsia;
    color: lime;
    font-family: 'VT323';
    padding: 20px;
    width: 280px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: darkcyan;    
}

a:visited {
    color: blue;
}

a:hover {
    color: darkmagenta;
}